@import '~bootstrap/scss/bootstrap';

body {
  background-color: white;
  font-family: Lato;
  overflow-x: hidden;
}

header {
  background-color: rgb(255, 255, 255);
  height:auto;
  box-shadow: 0 3px 10px #0000004a;
}

.fixed-top {
  top: -0.2em;
}

a {
  color: #404040;
  text-decoration: none;
  transition: transform 0.6s ease-in-out;
}

a:hover {
  color: #c39c5f;
}

.btn-primary,
.btn-secondary {
  padding: 0.5em 2em;
  font-weight: 500;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1.5;
  border-radius: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  border: 4px solid #ab8442;
  background-color: #ab8442;
}

.btn-primary:hover {
  color: #fff;
  background-color: #ab8442b3;
  border-color: #ab8442b3;
}


.btn-primary:disabled, .btn-primary.disabled {
  background-color: #ab8442;
  cursor: alias;
  border-color: #ab8442;
  filter: opacity(0.5);
}

.btn-primary:disabled:hover, .btn-primary:disabled:focus{
  border: 4px solid #ab8442;
  background-color: #ab8442;
}

.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #ab8442b3;
  border-color: #ab8442b3;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #ab8442b3;
  border-color: #ab8442b3;
  box-shadow: none;
}

.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.btn-call-action {
  padding: 1em 2em;
  margin-bottom: 50px;
  line-height: 1.5;
}

.btn-secondary {
  border: 4px solid #5c636a;
  background-color: #5c636a;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5c636ad1;
  border-color: #5c636ad1;
}

.btn-check:focus + .btn-secondary, .btn-secondary:focus {
  color: #fff;
  background-color: #5c636ad1;
  border-color: #5c636ad1;
  box-shadow: none;
}

.btn-check:checked + .btn-secondary:focus, .btn-check:active + .btn-secondary:focus, .btn-secondary:active:focus, .btn-secondary.active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

//header

.logo {
  max-width: 200px;
}

.nav-up {
  top: -40px;
}

.navbar ul {
  margin-bottom: 0;
}
.navbar li {
  padding: 0.5em 1.5em;
  list-style-type: none;
  text-align: center;
  cursor:pointer;
}

.navbar li a {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 1.2em;
  padding: 0;
}

.btn-nav {
  margin-left: 1em;
}

.nav-link {
  color: #000;
}

.nav-link:hover, .nav-link:focus {
  color: #ab8442;
}

.dropdown {
  padding-left: 1em;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #ab8442;
}

@media (max-width: 1200px) {
  .dropdown-menu.show {
    width: 100%;
  }

  .btn-nav {
    margin: 0.5em auto;
    width: 100%;
  }

  .homepage-banner .banner-button {
    padding-top: 13em;
  }
}

//homepage

.banner {
  height: auto;
  background-position: top center;
  background-size: cover;
}

.homepage-banner {
  background-image: linear-gradient(rgb(0 0 0 / 40%), rgb(0 0 0 / 77%)), url(/public/assets/images/hotel-background.jpg);
  min-height: 100vh;
  height: 100%;
}

.homepage-banner .banner-text h1 {
  font-size: 4.9em;
  padding-right: 0.4em;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-inner {
  overflow: visible;
}

.carousel-control-prev {
  margin-left: -3.5em;
}

.carousel-control-next {
  margin-right: -3.5em;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 4.5em;
  height: 4.5em;
}

.banner-button {
  width: auto;
  margin: auto;
  padding-bottom: 5em;
  padding-top: 1em;
}

.homepage-banner .banner-button {
  padding-top: 3em;
}

.homepage-banner .banner-text {
  position: relative;
  top: 40%;
}

.banner-text h1 {
  font-size: 3.8em;
  color: #fff;
  font-weight: 600;
  padding-top: 2em;
}

.banner-text h4 {
  font-size: 1.5em;
  color: #c39c5f;
  font-weight: 600;
  padding-top: 0.4em;
  padding-bottom: 1em;
}

.banner-text h1 strong{
  color: #6ed556fc;
}

.carrousel-hotels {
  padding-top: 9em;
  padding-bottom: 2em;
  margin-bottom: 1.5em;
}

.card {
  border-radius: 0.6em;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 29%);
  border: 0;
  height: 100%;
}

.carousel-indicators {
  bottom: -3em;
  overflow: hidden;
}

.carousel-indicators .active {
  opacity: 1;
  background-color: #ab8442;
}


.carousel-item {
  transition: all 2s ease;
  -webkit-transition:  all 2s ease;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0.4s ease-in-out;
  -webkit-transition:  opacity 0.4s ease-in-out;
}


.homepage-banner .card-img-top {
  height: 18em;
}

.card-img-top {
  border-radius: 0.6em 0.6em 0 0;
  object-fit: cover;
  object-position: bottom;
  height: 14em;
}

.card-title {
  font-size: 2em;
}

.card-text {
  text-align: justify;
  padding-top: 1em;
}

.card-subtitle {
  margin-bottom: 2em;
}

.card-container {
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.card-text {
  margin-bottom: 2em;
}

.hotel-banner {
  background-image: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 77%)), url(/public/assets/images/hotel-background2.jpg);
  min-height: 100vh;
  height: 100%;
}

.list-hotels {
  margin-top: 3em;
  padding-bottom: 5em;
}

@media (max-width: 1200px) {

  .homepage-banner .banner-button,
  .hotel-banner .banner-button {
    padding-top: 13em;
  }

  .btn-call-action {
    font-size: 2em;
  }

  .homepage-banner .card-img-top,
  .hotel-banner .card-img-top{
    height: 27em;
    filter: brightness(0.7);
  }

  .carousel-control-next {
    margin-right: -1.5em;
    opacity: 1;
  }

  .carousel-control-prev {
    margin-left: -1.5em;
    opacity: 1;
  }

  .carrousel-suites {
    top: 0;
    margin-top: 10em;
  }
}

@media (max-width: 992px) {
  .carousel-control-next {
    margin-right: 0;
  }

  .carousel-control-prev {
    margin-left: 0;
  }
}

/* LOGIN PAGE */

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

//hotel-page

.hotel-description {
  font-size: 1.7em;
  color: #fff;
  font-weight: 600;
  padding-top: 0.2em;
  padding-right: 2em;
  text-align: justify;
}

.carrousel-suites {
  top: -3em;
}

.list-suites {
  margin-top: 2.5em;
  scroll-margin-top: 75px;
  margin-bottom: 5em;
}

.list-suites h2 {
  font-size: 1.7em;
  color: #fff;
  font-weight: 600;
  padding-top: 0.2em;
}

.list-suites .card-container {
  scroll-margin-top: 7em;
}
.list-suites .card-content {
  text-align: justify;
  font-size: 1.2em;
  margin-bottom: 5em;
}

.list-suites .title {
  text-align: center;
  font-size:3em;
  font-weight: 400;
  display:block;
  color: #0a0a0a;
  margin-bottom: 1em;
}

.list-suites .title::after {
  content: "";
  display: block;
  border-bottom: 4px solid rgb(0, 0, 0);
  width: 15%;
  margin: auto;
  padding-top: 5px;

}


//modal

.close {
  font-size: 1.5rem;
}

.close-modal {
  margin: -6vh auto auto;
}

.btn-close {
  color: #fff;
  width: 2vh;
  height: 2vh;
  padding: 4vh;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/3.5vh auto no-repeat;
}

.col-12 img {
  opacity: 0.7;
  cursor: pointer;
  margin: 2rem;
  width: 100%;
}

.col-12 img:hover {
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallerie-photos {
  width: 100%;
}

.modal {
  background: #0000004f;
  padding: 0;

}
.modal-gallery {
  width: 60vw;
  max-width: 60vw;
}

.modal .carousel-control-prev {
  margin-left: -12vh;
}

.modal .carousel-control-next {
  margin-right: -12vh;
}

.modal .carousel-item {
  transition: none;
  -webkit-transition:  none;
}

.modal .carousel-fade .active.carousel-item-start,
.modal .carousel-fade .active.carousel-item-end {
  transition: none;
  -webkit-transition:  none;
}

.modal-content {
  background-color: transparent;
  border: 0;
}

@media (max-width: 1200px) {
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
  }

  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }

}

@media (max-width: 992px) {
  .modal .carousel-control-prev {
    margin-left: 0;
  }
  .modal .carousel-control-next {
    margin-right: 0;
  }
  .modal-gallery {
    width: 90vw;
    max-width: 90vw;
  }
}

@media (max-width: 992px) and (orientation: landscape) {

  .modal-gallery {
    width: 100vh;
    max-width: 100vh;
  }
}

@media (min-width: 206px) {
  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }
}

.top-card-content {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.gallery-box {
  width: 25%
}

.gallery {
  width: 100%;
  border-radius: 0 0.6em 0 0.6em;
  cursor: pointer;
  filter: brightness(0.5);

}

.gallery-icon {
  position: absolute;
  cursor: pointer;
  top: 50%;
  left: 88%;
  transform: translate(-50%, -50%);
}

.price-box {
  width: 29%;
  background-color: #5c636ae6;
  height: fit-content;
  border-radius: 0.6em 0 0.6em 0;
}

.price-text {
  margin-top: 0.5em;
  color: white;
}

.booking-buttons {
  display: flex;
  justify-content: space-around;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.5em;
}

.booking-button {
  padding: 0.5em 2.5em;
}

.non-suites {
  font-size: 4em;
  text-align: center;
  color: #c39c5f;
  padding-top: 1em;
  padding-bottom: 2em;
}

//Forms

.form-template {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8em 2em;
  background-image: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 77%)), url(/public/assets/images/hotel-background2.jpg);
  background-position: top center;
  background-size: cover;
}

.container-form-template {
  width: 920px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 2em;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 29%);
}

.form-titre {
  margin-bottom: 0.6em;
}

.contact-form-button {
  width: 100%;
  margin-top: 2em;
}

.form-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.form-buttons a {
  margin: 1em;
}

.green {
  color: #006100;
}

.red {
 color: #c10000;
}

.reservation-alert .modal-content {
  background: white;
}

.modal-title {
  font-size: 1.6em;
}
.modal-footer {
  justify-content: center;
}

.reservation-alert .btn-close {
  opacity: 0.8;
  width: 1vh;
  height: 1vh;
  padding: 2vh;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/2vh auto no-repeat;
}

@media (max-width: 992px) {
  .logo {
    max-width: 20em;
  }
  .navbar-toggler svg {
    width: 4em;
    height: 5em;
  }
  .navbar li a,
  .btn-nav
  {
    font-size: 2.5em;
  }

  .carrousel-hotels,
  .carrousel-suites, {
    padding-right: 2em;
    padding-left: 2em;
  }

  .card-container {
    padding-right: 4em;
    padding-left: 4em;
    padding-bottom: 3em;
  }

  .homepage-banner .banner-text h1 {
    padding-right: 0;
    text-align: center;
  }

  .homepage-banner .banner-text h1,
  .banner-text h1 {
    font-size: 5.5em;
  }

  .banner-text h4 {
    font-size: 2.5em;
  }

  .homepage-banner .banner-button, .hotel-banner .banner-button {
    padding-top: 10em;
    padding-bottom: 10em;
  }

  .card-title {
    font-size: 3em;
  }

  .card-subtitle {
    font-size: 1.7em;
  }

  .card-content,
  .list-suites .card-content{
    font-size: 2em;
  }

  .card-body .btn-secondary,
  .card-body .btn-primary {
    font-size: 2em;
  }

  .btn-call-action {
    font-size: 2.7em;
  }

  footer {
    font-size: 2em;
  }

  .hotel-description {
    padding-right: 1.5em;
    padding-left: 1.5em;
    font-size: 2.2em;
  }

  .form-titre {
    font-size: 5em;
  }

  .form-label {
    font-size: 2.25em;
  }

  .form-control {
    font-size: 2.3em;
  }

  .form-select {
    font-size: 2.3em;
  }

  .form-buttons .btn-primary,
  .form-buttons .btn-secondary,
  .contact-form-button {
    font-size: 2em;
  }

  .connect-info,
  #availability_info {
    font-size: 2em;
  }

  .price-box {
    width: 35%;
  }
  .price-text {
    font-size: 2.3em;
  }


}